body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.section1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}
.section2 {
  width: 100%;
  height: 100vh;
}
.section3 {
  width: 100%;
  height: 100vh;
}
.section4 {
  width: 100%;
  height: 100vh;
}
.section5 {
  width: 100%;
  height: 100vh;
}
.section6 {
  width: 100%;
  height: 100vh;
}